# proto-file: //devtools/kokoro/config/proto/build.proto
# proto-message: BuildConfig

build_file: "cel-python/release/kokoro/release_linux.sh"
timeout_mins: 120

container_properties {
  docker_image: "mirror.gcr.io/library/ubuntu:24.04"
  docker_sibling_containers: true
}
